@font-face {
    font-family: Sparkasse;
    src: url(../fonts/Sparkasse_Rg.ttf);
}

body {
    font-family: Sparkasse;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.pension-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.pension-title-logo {
    background-image: url(../img/logo_desktop.jpg);
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 90%;
}

#QuestionTitle {
    color: red;
    font-size: 39pt;
    margin-bottom: 20pt;
}


#QuestionForm {
  position: relative;
}

#QuestionIntro,
.pension-questions {
  /* position: absolute; */
  top: 0;
  font-size: 18pt;
}

.pagination-centered {
    padding-bottom: 0;
}

.pension-questions {
/*     background-color: white;
padding: 2em; */
}

.question h2 {
    margin: 0;
    margin-top: 1pt;
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
    color: red;
}

.question-table {
    height: 80%;
}

.pension-image {
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.pension-controlls {
    width: 100%;
}

.side-controll-column {
    width: 10%;
    text-align: center;
}

.slider-controll-column {
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
}

.question-button {
    color: red;
    font-size: 3em;
    cursor: pointer;
}

.answer-images {
    position: relative;
    clear: both;
    height: 100%;
}

.answer-images img {
    width: 100%;
}

.answer-images img:not(:first-child) {
    top: 0;
    left: 0;
    position: absolute;
}

/* QUESTION AGE */

#UserAge:before,
#UserAge:after {
    position: absolute;
    top: 15px;
    color: #666666;
}

#UserAge:before {
    content: "18 Jahre";
    left: 0;
}

#UserAge:after {
    content: "67 Jahre";
    right: 0;
}

#UserAge .ui-handle-text {
    left: -16px;
}

.user-age-table {
    width: 100%;
}

.user-age-table .user-age-lable-cell {
    width: 25%;
}

/* SCROLLBAR */

.ui-handle-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -30px;
    color: red;
    white-space: nowrap ;
}

.pension-slider.ui-widget-content {
    background: white;
    outline: none;
    border: none;
    top: 7px;
    background-color: red;
}

.pension-slider.ui-slider-horizontal {
    height: 12px;
}

.pension-slider .ui-widget-header {
    background: red;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0;
}

.pension-slider .ui-slider-handle {
    background: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin-left: -30px;
    margin-top: -30px;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

.pension-slider .ui-slider-handle:focus {
    outline: none;
    cursor: default;
}

.question-description {
    margin-top: 1em;
    height: 10%;
}


/* RESULT CARD */

.pension-price-row {
    color: red;
}

.pension-price-row h2 {
    font-size: 26px;
}

.pension-price-row h1 {
    font-size: 40pt;
    margin-bottom: 0;
}

.category-bar {
    background-color: red;
    height: 10px;
    position: absolute;
    top: 35px;
    left: 80px;
}

.final-table h3 {
    color: red;
}

td.final-slider {
    padding: 0 50px;
    min-width: 400px;
}

.category-image {
    height: 200px;
    padding: 0 !important;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
}

.category-image div {
    height: 100%;
    font-size: 0;
}

.category-image img {
    height: 100%;
    width: auto;
}

.pension-calculator {
    height: 0;
    overflow: hidden;
}

.pension-row {
    margin-bottom: 60px;
}

.pension-calculator label {
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.pension-calculator input[type=text] {
    border: 2px solid #777777;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: red;
    padding: 5px;
    font-size: 17px;
}

.helper-button {
    border: 1px solid #777777;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #777777;
    cursor: pointer;
    display: inline-block;
    font-size: 10pt;
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
}

.pension-calculator h2 {
    margin-top: 3em;
    font-size: 18pt;
}

.pension-result-slider {
    margin: 2em 0;
}

.pension-result-slider .ui-slider-handle {
    width: 30px;
    height: 30px;
    top: -11px;
    border-radius: 15px;
    background: white;
}

.pension-result-slider .ui-slider-handle:focus {
    outline: none;
    cursor: default;
}

.pension-result-slider.ui-widget-content {
    border: none;
    background: #F0F0F0;
}

.pension-result-slider.ui-slider-horizontal {
    height: 0.6em;
}

.pension-result-slider .ui-slider-range-min {
    background: red;
}

.pension-result-slider .min,
.pension-result-slider .max {
    font-size: 14px;
    color: #666666;
    position: absolute;
    top: 20px;
}

.pension-result-slider .max {
    right: 0;
}

.pension-result-slider .value {
    color: red;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: -50px;
}

#ResultWorkYears .min:after,
#ResultWorkYears .max:after,
#ResultWorkYears .value:after {
    content: " Jahre";
}

#ResultPayment .min:after,
#ResultPayment .max:after,
#ResultPayment .value:after {
    content: " Euro";
}

.pension-result-final-msg {
    font-size: 18px;
}